@charset "UTF-8";
/* Nesting */
/* MENU */
#menu ul {
  list-style: none;
}
#menu ul li {
  text-align: center;
}
#menu ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-right: 5px;
}
#menu ul li a:hover {
  color: #18B3B3;
  transition: all 0.5s ease;
}

/* FIN MENU */
/* INICIO DUDAS */
/* Accedo a la raiz del documento para definir variables */
:root {
  --primario: #18B3B3;
  --gris-claro: #B8B8B8;
  --sombra: 0 0 13px 0 rgba(185,185,185 .25) ;
}

main {
  max-width: 1000px;
  width: 90%;
  margin: 40px auto;
}

.tittle-dudas {
  color: #4d5371;
  font-weight: 700;
  text-align: center;
  margin: 60px 0;
}

/* Categorías */
.categorias {
  display: grid;
  /* 2 columnas */
  grid-template-columns: repeat(2, 1fr);
  /* Entre cada elemento un espacio de 20px */
  gap: 20px;
  margin-bottom: 60px;
}

.categoria {
  cursor: pointer;
  text-align: center;
  padding: 20px;
  /* Para bordes redondeados */
  border-radius: 10px;
  background-color: #fff;
  font-weight: 700;
  /* var para llamar a la variable en el color */
  color: var(--gris-claro);
  border: 2px solid transparent;
  transition: 0.3s ease all;
}

.categoria:hover {
  box-shadow: var(--sombra);
  color: #000;
}

.categoria:hover path {
  fill: var(--primario);
}

.categoria svg {
  width: 64px;
  margin-bottom: 10px;
}

.categoria path {
  fill: var(--gris-claro);
  transition: 0.3s ease all;
}

.categoria.activa {
  border: 2px solid var(--primario);
  color: #000;
}

.categoria.activa path {
  fill: var(--primario);
}

/* Contenedor Preguntas */
.contenedor-preguntas {
  display: none;
  /* Solo quiero una columna */
  grid-template-columns: 1fr;
  /* Espacio */
  gap: 40px;
}

.contenedor-preguntas.activo {
  display: grid;
}

.contenedor-pregunta {
  background: #fff;
  padding: 40px;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease all;
  cursor: pointer;
}

.contenedor-pregunta:hover {
  box-shadow: var(--sombra);
}

.contenedor-pregunta.activa {
  border: 2px solid var(--primario);
}

/* Preguntas */
.pregunta {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  /* Con space-between el texto estara a la izquierda y la imagen a la derecha */
  justify-content: space-between;
  align-items: center;
}

.pregunta img {
  width: 14px;
  transition: 0.5s;
}

.respuesta {
  color: #808080;
  line-height: 30px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s ease all;
}

.contenedor-pregunta.activa .respuesta {
  opacity: 1;
  margin-top: 20px;
}

.contenedor-pregunta.activa img {
  /* Rotar la imagen 45 grados */
  transition: 0.5s;
  transform: rotate(45deg);
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .categoria {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  .categoria svg {
    width: 60px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .categorias {
    grid-template-columns: 1fr;
  }
}
/* FIN DUDAS */
/* Inicio estilos del formulario de contacto */
input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
  font-family: "Poppins", sans-serif;
}

/* Inicio Checkbox */
.checkbox {
  display: flex;
  margin: 10px -5px;
}

input[type=checkbox] {
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.3);
  /* Border radius para que sea semi circular el checkbox */
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type=checkbox]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  /* Traigo al icono */
  content: "";
  font-size: 15px;
  color: white;
  display: none;
}
input[type=checkbox]:hover {
  background-color: #a5a5a5;
}

label {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  cursor: pointer;
}

input[type=checkbox]:checked {
  background-color: #18b3b3;
}
input[type=checkbox]:checked:after {
  display: block;
}

/* Fin Checkbox */
/* Fin estilos del formulario de contacto */
/* FOOTER */
.social-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 4% 0 0 0;
}
.social-menu ul {
  display: flex;
  justify-content: center;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  transition: 0.5s;
}
.social-menu ul li .fa:hover {
  color: #fff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 35%;
  background-color: #fff;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px) scale(1.2);
  background-color: #18B3B3;
}

/* FIN FOOTER */
/* WHATSAPP ICON */
.float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  transition: all 0.5s ease;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
  transition: all 0.5s ease;
}

.my-float {
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

/* MEDIA QUERIES PANTALLA SM */
@media (max-width: 768px) {
  #intro {
    width: 90% !important;
  }

  .float {
    display: none;
  }
}
/* FIN WHATSAPP ICON */
textarea {
  min-height: 100px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}

/* Inicio Boton de enviar */
.contact-button {
  background: #18b3b3;
  color: #fff;
  padding: 20px;
  letter-spacing: 4px;
  transition: all 0.25s ease-in;
}

.contact-button:hover {
  color: #18b3b3;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  transition: all 0.25s ease-in;
}

/* Fin Boton de enviar */
/* Inicio Boton de limpiar datos */
.clean-button {
  background: #38393d;
  color: #fff;
  padding: 20px;
  letter-spacing: 4px;
  transition: all 0.25s ease-in;
}

.clean-button:hover {
  color: #38393d;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  transition: all 0.25s ease-in;
}

/* Fin Boton de limpiar datos */
body {
  background-color: whitesmoke;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

p {
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
}

/* Tamaño y color del título */
.tittle {
  font-size: 40px;
  color: #4d5371;
  font-weight: bold;
  padding-left: 10px;
}

h1 {
  color: #18b3b3;
  font-size: 2em;
}

h2 {
  /* Color de los encabezados h2 */
  color: #18b3b3;
  text-align: center;
}

.h2-icons {
  font-size: 22.96px;
  color: #000;
}

.h2-shop {
  color: #4d5371;
  font-size: 23px;
}

/* SLIDER DE IMAGENES */
.carousel-inner {
  max-height: 40rem;
  max-width: 40rem;
}

/* INFORMATIVE ICONS */
.section-informative-banners {
  padding: 20px 0;
  text-align: center;
}

.service-item {
  margin: 20px 0;
  padding: 0 10px;
}

.service-icon {
  height: 100px;
  margin: 10px 0;
}

.service-icon:hover {
  color: #18b3b3;
}

.service-tittle {
  margin: 0 0 5px 0;
  color: #000;
}

.service-tittle:hover {
  color: #18b3b3;
  transition: 0.3s ease;
}

.history-image {
  object-fit: cover;
  width: 600px;
  height: 300px;
}

.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.div-img.hidden {
  overflow: hidden;
}
.div-img .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transition: all 400ms ease-in-out;
}
.div-img:hover .img {
  transform: scale(0.95);
  -ms-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .history-image {
    width: 100%;
  }
}
/* INICIO SHOP */
.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* PRODUCTOS & CARRITO */
.link-text{
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.link-text:hover {
  color: #18B3B3;
}
/* COLOR DEL TEXTO DE LAS CARDS */
.text {
  color: #18B3B3;
}
/* BOTON DE COMPRA */
.button-compra {
  background: #18b3b3;
  color: #fff;
  padding: 14px;
  letter-spacing: 4px;
  transition: all 0.25s ease-in;
}
.button-compra:hover {
  color: #18b3b3;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  transition: all 0.25s ease-in;
}
/* BOTON DE COMPRA EN EL CARRITO */
.button-comprar {
  background: #18b3b3;
  color: #fff;
  padding: 10px;
  letter-spacing: 4px;
  transition: all 0.25s ease-in;
  margin-top: 0px;
}
.button-comprar:hover {
  color: #18b3b3;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  transition: all 0.25s ease-in;
}

/* FIN SHOP */

/*# sourceMappingURL=styles.css.map */

header, .alert{
  z-index: 100;
}
.description{
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}
.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}