/* MENU */
#menu {
    ul {
        list-style: none;
        li {
            text-align: center;
            a {
                font-size: 18px;
                font-weight: bold;
                color: #000;
                
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                    transition: all 0.5s ease;
                }    
            }
        }
    }
}
/* FIN MENU */