/* MENU */
#menu {
    ul {
        list-style: none;
        li {
            text-align: center;
            a {
                font-size: 18px;
                font-weight: bold;
                color: #000;
                margin-right: 5px;
                
                &:hover {
                    color: #18B3B3;
                    transition: all 0.5s ease;
                }    
            }
        }
    }
}
/* FIN MENU */