@mixin button {
    color: #fff;
    padding: 20px;
    letter-spacing: 4px;
    transition: all 0.25s ease-in;
}

@mixin buttonhover {
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
    transition: all 0.25s ease-in;
}

/* Inicio Boton de enviar */
.contact-button {
    background: #18b3b3;
    @include button;
}
.contact-button:hover {
    color: #18b3b3;
    @include buttonhover;
}
/* Fin Boton de enviar */
/* Inicio Boton de limpiar datos */
.clean-button {
    background: #38393d;
    @include button;
}
.clean-button:hover{
    color: #38393d;
    @include buttonhover;
}
/* Fin Boton de limpiar datos */